body{
    color: white;
    background-image: url('../img/dark-triangles.png');
}

#longitud {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#longitud::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #1b92fb;
    cursor: pointer;
}
  
#longitud::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #1b92fb;
    cursor: pointer;
}

p{
    font-weight: bold;
}

#contrasenia, h4{
    margin: 0 auto;
}

#contrasenia{
    text-align: center;
}
/*
.seguridad_md{
    border: 3px solid yellow;
}

.seguridad_mdst{
    border: 3px solid orange;
}

.seguridad_st{
    border: 3px solid green;
}

.seguridad_bd{
    border: 3px solid red;
}
*/